<div class="users">
    <h1>Users List</h1>
    <table>
        <thead>
            <th>S.N.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>isverifed</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ukesh Gurung</td>
                <td>ukesh@gmail.com</td>
                <td>9801234</td>
                <td>1</td>
                <td>
                    <button class="btn3 btn-primary">View</button>
                    <button class="btn3 btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>